.headerImageContainer {
    display: flex;
    margin: 0rem 1rem;
}

.headerImageSpan {
    width: 20px;
}

.headerAnimatedImage {
    display: flex;
    justify-content: flex-start;
    transform: translateX(0%);
    animation-name: slideright;
    animation-duration: 2s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideright {
    100% {transform: translateX(+196%);}
}

.headerNav {
    margin-top: 0.5rem;
    border-top: solid var(--yellow) 1px;
    border-bottom: solid var(--yellow) 1px;
}

.headerNavList {
    display: flex;
    justify-content: center;
}

.headerNavListItem {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
}   

.headerNavListItem:hover {
    color: var(--yellow)
}